:root {
  //COLORS
  --color-primary: hsl(25, 97%, 53%); //Orange
  --color-white: hsl(0, 0%, 100%); //White
  --color-light-grey: hsl(217, 12%, 63%); //Light Grey
  --color-medium-grey: hsl(216, 12%, 54%); //Medium Grey
  --color-dark-blue: hsl(213, 19%, 18%); //Dark Blue
  --color-darkest-blue: hsl(215, 96%, 91%); //Very Dark Blue

  //FONTS
  --font-primary: "Overpass", sans-serif; //Overpass use weight: 400 700
}
