*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @include respond(big-desktop) {
    font-size: 81.25%; //1rem = 13px
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem =8px
  }

  @include respond(phone) {
    font-size: 43.75%; //1rem = 7px
  }

  @include respond(small-phone) {
    font-size: 37.5%; //1rem = 6px
  }
}

body {
  background-color: var(--color-darkest-blue);
  min-height: 100vh;
  position: relative;
}
