*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  background-color: var(--color-darkest-blue);
  min-height: 100vh;
  position: relative;
}
